*.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
*.lock
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.ini
.metadata/.log
*.prefs
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.index
.metadata/.plugins/org.eclipse.jdt.core/350859473.index
*.markers
*.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.properties